body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-image: url("./image/playa.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;
}

.ball {
  height: 10vh;
  width: 10vh;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./image/ball.gif");
  background-size: cover;
}

.goalkeeper {
  width: 20px;
  height: 30%;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-sizing: border-box;
}

.left-goalkeeper {
  left: 5px;
  background-color: rgb(133, 133, 39);
  top: 35%;
}

.right-goalkeeper {
  right: 5px;
  background-color: brown;
  top: 35%;
}

.scores {
  position: absolute;
  top: 5px;
  left: 12.5%;
  width: 75%;
  height: 48px;
}

.left-score-overflow,
.right-score-overflow {
  background: -webkit-linear-gradient(
    rgb(237, 31, 36) 0%,
    rgb(237, 31, 36) 16%,
    rgb(248, 152, 29) 16%,
    rgb(248, 152, 29) 33%,
    rgb(243, 236, 25) 33%,
    rgb(243, 236, 25) 50%,
    rgb(113, 191, 68) 50%,
    rgb(113, 191, 68) 67%,
    rgb(71, 144, 205) 67%,
    rgb(71, 144, 205) 83%,
    rgb(94, 87, 166) 83%,
    rgb(94, 87, 166) 100%
  );
  background: -o-linear-gradient(
    rgb(237, 31, 36) 0%,
    rgb(237, 31, 36) 16%,
    rgb(248, 152, 29) 16%,
    rgb(248, 152, 29) 33%,
    rgb(243, 236, 25) 33%,
    rgb(243, 236, 25) 50%,
    rgb(113, 191, 68) 50%,
    rgb(113, 191, 68) 67%,
    rgb(71, 144, 205) 67%,
    rgb(71, 144, 205) 83%,
    rgb(94, 87, 166) 83%,
    rgb(94, 87, 166) 100%
  );
  background: linear-gradient(
    rgb(237, 31, 36) 0%,
    rgb(237, 31, 36) 16%,
    rgb(248, 152, 29) 16%,
    rgb(248, 152, 29) 33%,
    rgb(243, 236, 25) 33%,
    rgb(243, 236, 25) 50%,
    rgb(113, 191, 68) 50%,
    rgb(113, 191, 68) 67%,
    rgb(71, 144, 205) 67%,
    rgb(71, 144, 205) 83%,
    rgb(94, 87, 166) 83%,
    rgb(94, 87, 166) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.left-score,
.right-score {
  font-size: 50px;
  font-weight: bold;
  width: 50%;
  height: 100%;
  text-align: center;
  float: left;
  font-family: monospace;
  position: relative;
  color: purple;
  text-shadow: 1px 0 pink, 0 1px pink, -1px 0 pink, 0 -1px pink;
}

.scores div:first-child {
  position: relative;
  display: inline-block;
}

.right-score {
  float: right;
}

#score {
  display: none;
}

.key-notes1, .key-notes2, .key-notes3 {
  font-family: monospace;
  color: purple;
  text-shadow: 1px 0 pink, 0 1px pink, -1px 0 pink, 0 -1px pink;
  position: absolute;
  bottom: 0px;
  z-index: -999;
}

.key-notes2 {
  font-size: 13px;
  width: 100%;
  text-align: center;
}

#key-notes2-line1 {
  margin: 0;
}

#key-notes2-line2 {
  margin: 3px 0 10px 103px;
}

.key-notes1 {
  left: 0px;
}

.key-notes3 {
  right: 0px;
}

.arrow, .buttons {
  display: inline;
  position: absolute;
}

.key-notes1 div.arrow {
  left: 0px;
  bottom: 21px;
}

.key-notes1 div.buttons {
  left: 7px;
  bottom: 10px;
}

.key-notes3 div.arrow {
  right: 0px;
  bottom: 21px;
}

.key-notes3 div.buttons {
  right: 7px;
  bottom: 10px;
}

.buttons p {
  font-size: 16px;
  margin: 0;
  display: inline;
}

.arrow p {
  font-size: 70px;
  margin: 0;
  display: inline;
}

.pause-icon {
  width: 100vw;
  height: auto;
  text-align: center;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  z-index: 9999;
  visibility: hidden;
}

#pause-icon {
  font-size: 60vh;
  color: rgba(25, 25, 112, 0.7);
}