html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url('./image/playa.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.ball {
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 50%;
    left: 50%;
}

.ball:before {
    content: "";
    display: block;
    height: 80px;
    width: 80px;
    background-image: url("./image/ball.gif");
    background-size: cover;
    -webkit-transform: none;
}

.ball.right-down:before {
    -webkit-transform: rotateZ(45deg);
}

.ball.right-up:before {
    -webkit-transform: rotateZ(-45deg);
}

.ball.left-down:before {
    -webkit-transform: rotateZ(135deg) rotateX(180deg);
}

.ball.left-up:before {
    -webkit-transform: rotateZ(-135deg) rotateX(180deg);
}

.goalkeeper {
    width: 20px;
    height: 30%;
    position: relative;
    top: 35%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.left-goalkeeper {
    float: left;
    margin-left: 5px;
    background-color: rgb(133, 133, 39);
}

.right-goalkeeper {
    float: right;
    margin-right: 5px;
    background-color: brown;
}

.scores {
    position: absolute;
    top: 5px;
    left: 12.5%;
    width: 75%;
    height: 48px;
    overflow: hidden;
}

.left-score-overflow,
.right-score-overflow {
    background: -webkit-linear-gradient(rgb(237, 31, 36) 0%, rgb(237, 31, 36) 16%, rgb(248, 152, 29) 16%, rgb(248, 152, 29) 33%, rgb(243, 236, 25) 33%, rgb(243, 236, 25) 50%, rgb(113, 191, 68) 50%, rgb(113, 191, 68) 67%, rgb(71, 144, 205) 67%, rgb(71, 144, 205) 83%, rgb(94, 87, 166) 83%, rgb(94, 87, 166) 100%);
    background: -o-linear-gradient(rgb(237, 31, 36) 0%, rgb(237, 31, 36) 16%, rgb(248, 152, 29) 16%, rgb(248, 152, 29) 33%, rgb(243, 236, 25) 33%, rgb(243, 236, 25) 50%, rgb(113, 191, 68) 50%, rgb(113, 191, 68) 67%, rgb(71, 144, 205) 67%, rgb(71, 144, 205) 83%, rgb(94, 87, 166) 83%, rgb(94, 87, 166) 100%);
    background: linear-gradient(rgb(237, 31, 36) 0%, rgb(237, 31, 36) 16%, rgb(248, 152, 29) 16%, rgb(248, 152, 29) 33%, rgb(243, 236, 25) 33%, rgb(243, 236, 25) 50%, rgb(113, 191, 68) 50%, rgb(113, 191, 68) 67%, rgb(71, 144, 205) 67%, rgb(71, 144, 205) 83%, rgb(94, 87, 166) 83%, rgb(94, 87, 166) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.left-score,
.right-score {
    font-size: 50px;
    font-weight: bold;
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
    font-family: monospace;
    position: relative;
    color: purple;
    text-shadow: 1px 0 pink, 0 1px pink, -1px 0 pink, 0 -1px pink;
}

.scores div:first-child {
    position: relative;
    display: inline-block;
}

.right-score {
    float: right;
}

#score {
    display: none;
}

.container {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}